@use "color";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: color.$background;
  //   background: color.$textColor;
  .select-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: color.$boxBg;
    padding: 20px 25px 25px;
    color: color.$textColor;
    border-radius: 5px;
    max-width: 330px;
    width: 100%;
    transition: all 0.3s ease;
    // display: none;

    header {
      font-size: 23px;
      font-weight: 600;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
    }
    .title {
      font-size: 18px;
      font-weight: 500;
      margin: 20px 0;
    }
    .options {
      display: flex;
      width: 100%;
      button {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        padding: 8px 0;
        border: none;
        outline: none;
        background: #4e4e4e;
        border-radius: 5px;
        color: color.$textColor;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      button:hover {
        transform: scale(0.95);
        background: color.$background;
      }
      button.playerX {
        margin-right: 5px;
      }
      button.playerO {
        margin-right: 5px;
      }
    }
  }
}

.switch-mode {
  display: flex;
  justify-content: center;

  button {
    position: absolute;
    top: 20%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    border: none;
    outline: none;
    background: #4e4e4e;
    border-radius: 5px;
    color: color.$textColor;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  button:hover {
    transform: scale(0.95);
    background: color.$background;
  }
}

.select-box.hide {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.play-board {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.play-board.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(0.9);
}

.select-box,
.play-board,
.result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: color.$textColor;
  transition: all 0.3s ease;

  .details {
    background: color.$boxBg;
    padding: 7px;
    border-radius: 5px;

    .players {
      display: flex;
      width: 100%;
      justify-content: space-between;
      position: relative;
    }
    span {
      width: 100%;
      border-radius: 5px;
      padding: 7px 0;
      font-weight: 500;
      cursor: default;
      width: 100%;
      text-align: center;
      position: relative;
      z-index: 5;
      transition: all 0.3s ease;
    }

    span:first-child {
      color: color.$textColor;
    }
    .slider {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      background: color.$background;
      border-radius: 5px;
      z-index: 2;
      transition: all 0.3s ease;
    }
  }

  .play-area {
    margin-top: 20px;
    section {
      display: flex;
      span {
        display: block;
        margin: 3px;
        height: 80px;
        width: 80px;
        background: color.$boxBg;
        border-radius: 5px;
        font-size: 40px;
        text-align: center;
        line-height: 80px;
      }
    }
  }
}

.players.active span:first-child {
  color: color.$background;
}

.players.active span:last-child {
  color: color.$textColor;
}

.players.active .slider {
  left: 50%;
}

// result box

.result-box {
  background: color.$textColor;
  padding: 20px;
  border-radius: 5px;
  max-width: 350px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);

  .won-text {
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: #000;

    p {
      font-weight: 700;
      margin: 0 5px;
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
      font-size: 18px;
      font-weight: 500;
      padding: 8px 20px;
      border: none;
      outline: none;
      background: #4e4e4e;
      border-radius: 5px;
      color: color.$textColor;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    button:hover {
      transform: scale(0.95);
      background: color.$background;
    }
  }
}

.result-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
