@use "color";

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: color.$background;
}

#container {
  height: auto;
  width: auto;
  background: color.$boxBg;
  border-radius: 20px;
  padding: 30px;
  box-shadow: inset 1px 2px 0px rgb(255 255 255 / 18%),
    inset -2px -2px 2px rgb(0 0 0 / 65%);

  #startingPage {
    height: 220px;
    width: 400px;
    // display: none;

    h2 {
      font-size: 50px;
      color: #fff;
      text-align: center;
    }

    #line {
      height: 1px;
      width: 100%;
      background: #fff;
      margin: 20px 0;
    }
    h4 {
      font-size: 25px;
      color: color.$textColor;
      text-align: center;
    }
  }
}

#button {
  height: auto;
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: row;

  button {
    height: 55px;
    width: 180px;
    cursor: pointer;
    background: color.$background;
    border: none;
    outline: none;
    color: color.$textColor;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    transform: scale(1);
    transition: 0.5s;
  }
  button:first-child {
    margin-right: 40px;
  }
  button:hover {
    transform: scale(0.9);
  }
}

.history-buttons {
  display: none;
  #buttons {
    display: flex;
    width: 345px;
    justify-content: space-between;
    button {
      height: 55px;
      width: 180px;
      margin: 5px;
      cursor: pointer;
      background: color.$background;
      border: none;
      outline: none;
      color: color.$textColor;
      font-weight: bold;
      font-size: 15px;
      border-radius: 10px;
      transform: scale(1);
      transition: 0.5s;
    }
    #nextBtn {
      visibility: hidden;
    }
    button:hover {
      transform: scale(0.9);
    }
  }
}

#winner {
  display: none;

  h2 {
    font-size: 50px;
    color: #fff;
    text-align: center;
  }
  #button {
    height: auto;
    width: 100%;
    justify-content: center;
    justify-items: center;
    button {
      margin-top: 20px;
      // margin-right: 0;
    }
  }
}

#mainPage {
  height: 550px;
  width: 350px;
  padding: 20px;
  position: relative;
  display: none;

  #historyTitle {
    text-align: center;
    font-size: 4vw;
    display: none;
    color: color.$textColor;
    margin: 0;
  }

  #headerBtns {
    height: 60px;
    width: 310px;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: row;

    button {
      height: 60px;
      width: 160px;
      border-radius: 50px;
      border: none;
      outline: none;
      background: transparent;
      font-size: 20px;
      color: color.$textColor;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
    #oTurn {
      left: 160px;
      z-index: 3;
    }
    #showChange {
      position: absolute;
      top: 0;
      left: 0;
      height: 60px;
      width: 160px;
      border-radius: 50px;
      background: color.$background;
      z-index: 1;
      transition: 0.2s;
    }
  }
}

#gameBoard {
  height: 400px;
  width: 330px;
  position: absolute;
  top: 150px;
  left: 10px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 15px;

  .boxes {
    height: 100px;
    width: 100px;
    background: color.$background;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 5px;

    i {
      font-size: 60px;
      color: color.$textColor;
    }
  }
}

@media (max-width: 768px) {
  #mainPage {
    #historyTitle {
      text-align: center;
      font-size: 10vw;
      display: none;
      color: color.$textColor;
      margin: 0;
    }
  }
}

@media (max-width: 450px) {
  #mainPage {
    #historyTitle {
      text-align: center;
      font-size: 63px;
      display: none;
      color: color.$textColor;
      margin: 0;
    }
  }
}
